<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-10 content-box">
    <h1>Edit Event Name</h1>

    <form method="post" action="/events/<%=@event.id%>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type="text" name="name" value="<%=@event.name%>"><br><br>

    <% @event.moments.each do |moment| %>
    <h1><i class="fa fa-minus"></i><%= moment.name %></h1>
    <a href="/moments/<%= moment.id %>/edit"><i class="fa fa-pencil"></i> Edit Moment</a>
    <a href="/moments/<%= moment.id %>/delete"><i class="fa fa-times"></i> Delete Moment</a>
    <% end %>

    <br>
    <input class="btn-material-second" type="submit" name="update" value="Update">
    </form>
  </div>
    </div>
      </div>
